FLASK_APP=wsgi.py
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=tu-secret-key-aqui
MODO=tienda_local
TIENDA_ID=1

DB_USER=postgres
DB_PASSWORD=tu-password-aqui
DB_HOST=localhost
DB_PORT=5432
DB_NAME=michin_t1

CENTRAL_URL=https://central.elmichin.com
IMPRESORA_IP=192.168.0.14
IMPRESORA_PUERTO=9100
DEEPSEEK_API_KEY=